<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Welcome</h1>
      <h2>To</h2>
      <h2>SolutionWeb</h2>
      <h1>SolutionWeb / <%= title %></h1>
    </div>
  </div>
</div>
